@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --color-primary: #18216D;
    --color-secondary: #005FEC;
    --color-green: #00ECD0;
    --color-white: #ffffff;
    --color-gray: #E5E5E5;
    --color-red: #FF523D;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    color: var(--color-primary);
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

h1,
h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.6rem;
}

h4 {
    font-size: 2.4rem;
}


.container {
    max-width: 1185px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo .header__icon {
    width: 3.2rem;
    height: 3.2rem;
}

.logo::after {
    content: "metting";
    display: inline-block;
    color: var(--color-primary);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}


.btn {
    padding: 1.5rem 2.5rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 500;
    border-radius: 6px;
}

.btn--primary {
    color: var(--color-white);
    background: var(--color-primary);
}

.btn--secondary {
    color: var(--color-white);
    background: var(--color-secondary);
}

.btn--white {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn--green {
    background: var(--color-green);
    color: var(--color-primary);
}

.subtitle {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--color-primary);
    margin-bottom: 2.5rem;
}




@media screen and (max-width: 576px) {
    h1,h2 {
        font-size: 3.6rem;
    }

    h3,
    h4 {
        font-size: 2.4rem;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-bottom: 1.2rem;
    }

    .subtitle {
        font-size: 1.4rem;
        line-height: 1.4;
        margin-bottom: 1rem;
    }
}



/*=== HEADER ===*/

.header {
    position: relative;
}

.header__body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-right: 50%;
    overflow: hidden;
}

.header::before {
    content: '';
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background: var(--color-red);
    opacity: .05;
    filter: blur(75px);
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -1;
}

.header__nav {
    --header-nav-gap: 2rem;
    padding: 1.5rem 0;
    height: var(--header-nav-height);
}

.header__subtitle {
    padding-right: 20%;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header__nav-list {
    display: flex;
    gap: var(--header-nav-gap);
}

.header__nav-link {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--color-primary);
    font-weight: 500;
}


.header__bg {
    position: absolute;
    z-index: -1;
    right: 0;
}

@media screen and (max-width: 992px) {
    .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        text-align: center;
    }

    .header__subtitle {
        padding: 0;
    }

    .header__bg {
        position: static;
        height: 40vh;
        object-position: -40px 0;
    }

    .header__content-btn {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .header__nav-content,
    .header__nav-list,
    .header__nav-buttons {
        flex-direction: column;
        text-align: center;
        gap: var(--header-nav-gap);
    }

    .header__nav-list {
        padding-top: var(--header-nav-gap);
    }

    .header__nav-buttons {
        padding-bottom: var(--header-nav-gap);
    }

    .header__nav-content {
        border-radius: 1rem;
    }
}



/*=== COLLAPSIBLE ===*/

.collapsible__icon {
    display: none;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .collapsible {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }

    .collapsible__icon {
        display: inline-block;
    }

    .collapsible__title {
        margin-bottom: 0;
    }

    .collapsible__content {
        margin-top: 1rem;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
        background: var(--color-gray);
        border-radius: 1rem;
    }

    .collapsible.open .collapsible__content {
        max-height: 300px;
    }

    .collapsible.open .collapsible__icon {
        color: var(--color-primary);
    }

    .collapsible.open .collapsible__icon.rotate {
        transform: rotate(90deg);
    }
}



/*=== SPONSORS ===*/

.sponsors {
    padding: 6rem 0;
}

.sponsors__body {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "t r"
        "l l";
    align-items: center;
    row-gap: 5rem;
}

.sponsors__title {
    grid-area: t;
}

.sponsors__ratings {
    grid-area: r;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.sponsors__logos {
    grid-area: l;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}


.sponsor__rating {
    width: max-content;
}

.sponsor__rating-heart {
    font-size: 1.8rem;
    color: var(--color-red);
    opacity: 0.8;
}


.sponsor__rating-star {
    color: #F5A623;
    font-size: 1.8rem;
}



@media screen and (max-width: 768px) {
    .sponsors {
        padding: 3rem 0;
    }

    .sponsors__body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "t"
            "r"
            "l";
        text-align: center;
        row-gap: 3rem;
    }

    .sponsors__logos {
        justify-content: space-around;
    }
}




/*=== FEATURES ===*/

.features {
    padding: 6rem 0;
}

.features__header {
    padding: 0 25%;
    text-align: center;
    margin-bottom: 5rem;
}

.features__cards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.features__card>.icon {
    width: 7.2rem;
    height: 7.2rem;
}

.features__card-title {
    margin-top: 3rem;
}

.features__card-link {
    font-size: 2rem;
    color: var(--color-primary);
    line-height: 1.2;
    font-weight: 500;

}


@media screen and (max-width: 992px) {
    .features__header {
        padding: 0 10%;
    }
}

@media screen and (max-width: 768px) {
    .features {
        padding: 3rem 0;
    }

    .features__cards {
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
    }

    .features__card {
        width: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .features__card-title {
        margin-top: 2rem;
    }

    .features__header {
        padding: 0;
    }

    .features__card {
        width: 100%;
        text-align: left;
    }

}



/*=== OUTLOOK ===*/

.outlook {
    padding: 6rem 0;
    background-color: rgba(0, 94, 235, 0.05);
}

.outlook__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 3rem;
}

.outlook__img {
    /* width: 100%; */
    border-radius: 3%;
    object-fit: contain;
}


@media screen and (max-width: 768px) {
    .outlook {
        padding: 3rem 0;
    }
    .outlook__body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        text-align: center;
    }

    .outlook__content {
        margin-bottom: 2rem;
    }
}





/*=== POWER ===*/

.power {
    padding: 6rem 0;
}

.power__body {
    display: grid;
    align-items: center;
    grid-template-columns: 400px 1fr;
    grid-gap: clamp(3rem, 12.5vw, 20rem);
}

.power__list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.power__list-item-icon {
    font-size: 3.2rem;
    color: var(--color-secondary);
}

.power__list-text {
    font-size: 1.8rem;
    line-height: 1.4em;
}

.power__button {
    margin-top: 3rem;
}


.power__conference {
    position: relative;
    text-align: center;
}


.power__conference-title {
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--color-primary);
    margin-bottom: 1rem;
}


.power__conference-modal {
    position: absolute;
    bottom: -10%;
    right: -10%;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    border-radius: .6rem;
    box-shadow: -4px 8px 20px rgba(24, 33, 109, 0.5);
}

.power__conference-button {
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    border-radius: .4rem;
    background: #DAE9FF;
    color: var(--color-primary);
}


.power__img {
    width: 100%;
    border-radius: 5%;
}

@media screen and (max-width: 768px) {
    .power {
        padding: 3rem 0;
    }

    .power__content {
        text-align: center;
    }

    .power__body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .power__conference {
        margin-top: 2rem;
        order: 2;
    }

    .power__conference-modal {
        right: 50%;
        transform: translateX(50%);
    }
}

@media screen and (max-width: 576px) {
    .power {
        padding: 8rem 0;
    }
}






/*=== PLAN ===*/

.plan {
    padding: 6rem 0;
}

.plan__header {
    text-align: center;
    padding: 0 20%;
}

.plan__cards {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan__card {
    border: 1px solid rgb(35, 38, 41,0.2);
    border-radius: 10px;
}

.plan__card-header h3 {
    margin-bottom: 0;
}

.plan__card-header {
    padding: 2rem 4rem;
    border-bottom: 1px solid rgb(0, 0, 0,0.2);
}

.plan__card-footer {
    padding: 4rem 4rem 6rem 4rem;
}

.plan__card-list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    line-height: 1.4;
    color: var(--color-primary);
}
.plan__card-list-item:not(:last-child){
    margin-bottom: 1.5rem;
}

.plan__card-list-icon {
    color: rgb(0, 95, 236,0.8);
}

.plan__card-list {
    margin-bottom: 4rem;
}



@media screen and (max-width: 768px) {
    .plan {
        padding: 3rem 0;
    }

    .plan__header {
        padding: 0 5%;
    }
}

@media screen and (max-width: 576px) {
    .plan__card-header {
        padding: 1rem 2rem;
    }

    .plan__card-footer {
        padding: 1rem 2rem;
    }

    .plan__card-list {
        margin-bottom: 2rem;
    }
}





.testimonial {
    padding: 6rem 0;
    background: #FAFAFA;
}

.testimonial__body {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.testimonial__img img {
    /* width: 100%; */
    object-fit: contain;
}

.testimonial__name {
    font-size: 2.6rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}

.testimonial__job {
    font-size: 1.6rem;
    line-height: 1.7;
    color: var(--color-primary);
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .testimonial__body {
        flex-direction: column;
        gap: 2rem;
    }

    .testimonial__content {
        text-align: center;
    }
}


.footer {
    padding: 12rem 0;
}

.footer__first {
    padding-right: 30%;
}

.footer__first-subtitle {
    margin-top: 2rem;
}

.footer__icon{
    width: 4.5rem;
    height: 4.5rem;
}

.footer__body {
    display: grid;
    grid-template-columns: auto 1fr;
}

.footer__second {
    display: flex;
    justify-content: space-between;
}

.footer__list-item {
    color: var(--color-primary);
    opacity: 0.9;
    font-size: 1.6rem;
    line-height: 2;
}


.footer__list-link {
    color: inherit;
}


@media screen and (max-width: 992px) {
    .footer__body {
        grid-template-columns: 200px 1fr;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 3rem 0;
    }

    .footer__first {
        padding-right: 0;
        text-align: center;
    }

    .footer__logo {
        justify-content: center;
    }

    .footer__first-subtitle {
        margin: 1rem 0;
    }

    .footer__body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,auto);
        grid-row-gap: 2rem;
    }

    .footer__second {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .footer__list-item {
        padding: 1rem 2rem;
    }
}